
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Create Page</title>
    
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      
  </head>

  <body class="bg-dark">
    <div id="particles-js"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" onclick="toggleSidebar()">
        <img
          src="https://randomuser.me/api/portraits/men/11.jpg"
          alt="User Photo"
          class="rounded-circle"
          style="width: 50px; height: 50px"
        />
      </a>
      <div class="mx-auto">
        <img src="{% static 'img/logo.svg' %}" alt="Logo" style="width: 75px; height: 75px" class="rounded-circle" />
      </div>
      <a class="navbar-brand" href="/photo.html">
        <i class="fas fa-camera"></i>
      </a>
    </nav>
    
    <div class="special-container">
      <div class="col-auto">
        <button href="{% url 'add_post' %}" class="centered-button" type="button">Post</button>
        <button href='#' class="centered-button" type="button">Meme Builder</button>
        <button href='#' class="centered-button" type="button">Vid</button>
      </div>
    </div>
                

    <div class="fixed-bottom bg-light" style="display: flex; justify-content: space-around; align-items: center; width: 100%; bottom: 0;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/" >
          <i class="fas fa-home"></i>
        </a>
        <a class="navbar-brand" href="{% url 'chat' %}">
          <i class="fas fa-comments"></i>
        </a>
        <a class="navbar-brand" href="{% url 'create' %}">
          <i class="fas fa-plus-circle"></i>
        </a>
        <a class="navbar-brand" href="{% url 'rooms' %}">
          <i class="fas fa-user-friends"></i>
        </a>
        <a class="navbar-brand" href="{% url 'notifications' %}">
          <i class="far fa-bell"></i>
        </a>
      </nav>
    </div>
    





    <script>
      particlesJS('particles-js', {
        "particles": {
          "number": {
            "value": 80,
            "density": {
              "enable": true,
              "value_area": 800
            }
          },
          "color": {
            "value": "#ffffff"
          },
          "shape": {
            "type": "circle",
            "stroke": {
              "width": 0,
              "color": "#000000"
            },
            "polygon": {
              "nb_sides": 5
            }
          },
          "opacity": {
            "value": 0.5,
            "random": false,
            "anim": {
              "enable": false,
              "speed": 1,
              "opacity_min": 0.1,
              "sync": false
            }
          },
          "size": {
            "value": 3,
            "random": true,
            "anim": {
              "enable": false,
              "speed": 40,
              "size_min": 0.1,
              "sync": false
            }
          },
          "line_linked": {
            "enable": true,
            "distance": 150,
            "color": "#ffffff",
            "opacity": 0.4,
            "width": 1
          },
          "move": {
            "enable": true,
            "speed": 6,
            "direction": "none",
            "random": false,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {
              "enable": false,
              "rotateX": 600,
              "rotateY": 1200
            }
          }
        },
        "interactivity": {
          "detect_on": "canvas",
          "events": {
            "onhover": {
              "enable": true,
              "mode": "repulse"
            },
            "onclick": {
              "enable": true,
              "mode": "push"
            },
            "resize": true
          },
          "modes": {
            "grab": {
              "distance": 400,
              "line_linked": {
                "opacity": 1
              }
            },
            "bubble": {
              "distance": 400,
              "size": 40,
              "duration": 2,
              "opacity": 8,
              "speed": 3
            },
            "repulse": {
              "distance": 200,
              "duration": 0.4
            },
            "push": {
              "particles_nb": 4
            },
            "remove": {
              "particles_nb": 2
            }
          }
        },
        "retina_detect": true
      });
    </script>
    
  </body>
</html>


