{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'color.css' %}" />
  </head>
  <body class="theme-test">
    <main class="container">
      <h1>Select a color theme from the dropdown</h1>
      <select class="theme-select" name="theme-select" id="theme-select">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
        <option value="blue">Blue</option>
        <option value="pink">Pink</option>
        <!-- <option value="space">Space</option>
        <option value="nyan">Nyan</option> -->
        <option value="purple">Purple</option>
        <option value="brown">Brown</option>
        <option value="dark-blue">light Blue</option>
        <option value="dark-green">Green</option>
        <option value="light-green">light-green</option>
      </select>
    </main>

    <script>
      const setTheme = (theme) => {
        document.documentElement.className = theme;
        localStorage.setItem("theme", theme);
      };

      document
        .getElementById("theme-select")
        .addEventListener("change", function () {
          setTheme(this.value);
        });

      const getTheme = () => {
        const theme = localStorage.getItem("theme");
        theme && setTheme(theme);
      };
      getTheme();
    </script>
  </body>
</html>
